
:root {
  --color__black: 0, 0, 0;
  --color__white: rgb(255, 255, 255);
  // cards
  --color__anger: rgb(130, 30, 30);  
  --color__pain: rgb(100, 25, 40);  
  --color__stop: rgb(183, 50, 25);
  --color__strength: rgb(125, 13, 18);
  --color__energy: rgb(239, 71, 46);
  --color__frustration: rgb(184, 68, 59);
  --color__happiness: rgb(194, 49, 32);
}

