%dotMatrix {
  background-image: 
    radial-gradient(var(--color__white) 10%, transparent 11%),
    radial-gradient(var(--color__white) 10%, transparent 11%);
  background-size: 7px 7px;
  background-position: 0 0, 4px 4px;
  background-repeat: repeat;   
}

@mixin dotMatrix() {
  background-image: 
    radial-gradient(var(--color__white) 10%, transparent 11%),
    radial-gradient(var(--color__white) 10%, transparent 11%);
  background-size: 7px 7px;
  background-position: 0 0, 4px 4px;
  background-repeat: repeat;   
}

@mixin dotMatrixLarge() {
  background-image: 
    radial-gradient(var(--color__white) 10%, transparent 11%),
    radial-gradient(var(--color__white) 10%, transparent 11%);
  background-size: 8px 11px;
  background-position: 0;
  background-repeat: repeat;  
}

%dotMatrixLarge {
  background-image: 
    radial-gradient(var(--color__white) 10%, transparent 11%),
    radial-gradient(var(--color__white) 10%, transparent 11%);
  background-size: 8px 11px;
  background-position: 0;
  background-repeat: repeat;  
}

@mixin center() {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}